*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../images/background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;   
}
.bg-color{
    background-color: rgba(255, 255, 255, 0.7)    
}